* {
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

/*---------------------------S C R O L L B A R ------------*/
::-webkit-scrollbar {
    width: 8px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background:rgb(156, 136, 126);
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1dc5d1;
    border-radius: 10vh;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #32efc6;
    transition: ease-in-out 0.2s;
  }

body {
    background-color: #eacdbdff;
    overflow-x: hidden;
}

.home {
    height: 10vh;
    width: 10vh;
    background-color: #25211eff;
    border-radius: 50%;
    box-shadow:1px 1px 5px rgb(28, 20, 14);

    position: fixed;
    top: 4vh;
    left: 4vh;

    display: flex;
    justify-content: center;
    align-items: center;

    transition: ease-in-out 0.2s;
}

.home:hover {
    transform: scale(1.2);
}

.home img {
    height: 50%;
    width: auto;
}

header {
    margin-top: 5vh;
    height: auto; width: 100vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.menuTitle {
    font-size: 4rem;
    height: 20vh;
    width: 40vh;
    background-color: #5e361dff;
    border-radius: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #eacdbdff;
    font-family: "Berkshire Swash", serif;
}

.linesHeader {
    height: 3px; width: 30vw;
    background-color: #595959;
    border-radius: 15vh;
}

h1 {
    font-size: 3.2rem;
    color: #4a4645;
    font-family: lato;
}

/*-------------------------- C A R R U S E L ----------------------*/

.carrusel {
    height: 60vh;
    width: 100vw;
    background-color: #5e361dff;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    overflow-x: auto;
    scroll-behavior: smooth;
}

.product {
    height: 80%;
    width: 46vh;
    background-color: #eacdbdff;
    border-radius: 8vh;
    flex-shrink: 0;
    margin-left: 8vh;
    box-shadow: 2px 2px 5px 2px rgba(45, 14, 7, 0.8);

    display: grid;
    grid-template-rows: 28% 44% 28%;
    justify-items: center;
    align-items: center;

    transition: height 0.2s ease-in-out, 
                width 0.2s ease-in-out, 
                background-color 0.2s ease-in-out, 
                box-shadow 0.2s ease-in-out;
}

.product:hover {
    height: 85%; width: 47.5vh;
    background-color: rgb(206, 134, 119);

    .productImg {
        height: 110%;
        filter: drop-shadow(2px 2px 10px rgba(233, 187, 177, 0.8));
    }
}

h2 {
    color: #4a4645;
    font-size: 2rem;
    font-family: Lato;
}

.productImg {
    width: auto;
    height: 100%;
    filter: drop-shadow(2px 2px 5px rgba(45, 14, 7, 0.8));
    transition: ease-in-out 0.2s;
}

.productDetails {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    gap: 2h;
}

.shortDescription {
    width: 50%;
    color: #595959;
    font-family: lato;
}

/*----------------- SECTION DISPLAYS -------------*/
#coffee, #salads, #juices, #beverages, #snacks, #paninis {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5vh;
    margin-top: 10vh;
}

/*------------------------ NAVBAR ----------------------*/
navbar {
    height: 10vh; width: auto;
    box-shadow: 1px 1px 5px rgb(35, 34, 34, 0.4);
    background-color: #25211eff;
    padding: 0 1.2rem;
    border-radius: 25vh;
    
    position: fixed;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 1vh;
}

.element {
    height: 8vh;
    width: 8vh;
    border-width: 2px;
    border-color:#eacdbdff;
    border-style: solid;
    border-radius: 50%;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    transition: ease-in-out 0.2s;
}

.element img {
    width: 80%;
    height: auto;
}

.element:hover {
    transform: scale(1.1);
    margin-bottom: 5px;
    filter: drop-shadow(1px 1px 1px rgb(225, 197, 184));
    transition: ease-in-out 0.2s;
}

#footer {
    height: 65vh;
    width: 100vw;
    background-color: #25211eff;
    margin-top: 30vh;

    display: flex;
    justify-content: center;
    align-items: center;
}

ul {
    height: 80%; width: 100%;
    margin-bottom: 5%;
    
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 2vh;
}

.line {
    width: 80vw;
    height: 3px;
    border-radius: 15vh;
    background-color: #efefef;
    margin-bottom: 7vh;
}

.socialMedia {
    height: 20vh;
    width: 50vh;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.socialMedia img {
    height: auto;
    width: 40%;
    transition: ease-in-out 0.2s;
}

.igIcon, .fbIcon {
    display: flex;
    justify-content: center;
    align-items: center;
}

.igIcon img:hover, .fbIcon img:hover {
    width: 42%;
    filter: drop-shadow(1px 1px 1px rgb(225, 197, 184));
} 

ul h2 {
    color: #efefef;
}

ul p {
    font-size: 1.5rem;
    font-family: Lato;
    color: #efefef;
    text-align: center;
}

/* ------------------------------------------------ MEDIA QUERY -- 768px <--------------------------------->*/

@media (max-width: 1200px) {

    html {
        font-size: 90%;
        -webkit-text-size-adjust:none;
    }

    .menuTitle {
        height: 15vh;
        width: 30vh;
    }

.home {
    height: 8vh;
    width: 8vh;
    top: 2vh;
    left: 2vh;
}

/*--------------CARRUSEL -----------------*/
    .carrusel {
        height: 35vh;
        width: 100vw;
    }

    .product {
        height: 80%;
        width: 28vh;
    }
    
    .product:hover {
        height: 85%; width: 30vh;
        background-color: rgb(206, 134, 119);
    
        .productImg {
            height: 110%;
            filter: drop-shadow(2px 2px 10px rgba(233, 187, 177, 0.8));
        }
    }

    navbar {
        height: 8vh; width: auto;
        gap: 1vh;
    }
    
    .element {
        height: 6vh;
        width: 6vh;
        border-width: 1.5px;
    }

    #footer {
        height: 40vh;
        margin-top: 22vh;
    
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .line {
        width: 80vw;
        height: 3px;
        border-radius: 15vh;
        background-color: #efefef;
        margin-bottom: 2vh;
    }
    
    .socialMedia {
        height: 10vh;
        width: 30vh;
    }

    .socialMedia img {
        width: 25%;
    }
    
    ul p {
        font-size: 1.5rem;
    }
    ul {
        margin-bottom: 10vh;
    }

}

@media (max-width:468px) {

    html {
        font-size: 75%;
        -webkit-text-size-adjust:none;
    }

    ul p {
        font-size: 1rem;
    }


}